# Byte-compiled files
__pycache__/
*.py[cod]*$.class

# GT4Py cache files
.gt_cache/

# DaCe creates a config file automatically
.dace.conf

# Python environments
venv/
.venv

# Package info
*.egg-info/

# Tox files
.tox/
